body{
    font-family: 'Montserrat', sans-serif;
}
.navbar .navbar-nav .nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #e97272;
    transition: width 0.3s;
}
.navbar .navbar-nav .nav-link:hover::after{
    width: 60px;
    height: 2px;
    transition: width 0.3s;
    border-bottom: 2px solid #6fe6e6;
}
header .intro{
    position: sticky;
}
header .intro .head{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 10px;
}
header .intro .head h1{
    font-family: 'Vujahday Script', cursive;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 100px;
}
header .intro .head p{
    font-family: 'Qwitcher Grypen', cursive;
    text-align: center;
    background-color: rgba(201, 197, 174, 0.4);
    font-size: 35px;
}
.featured .row .one{
    height: 300px;
}
.featured .row .one img{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
}
.featured .row .one .text{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}
.featured .row .one .text p{
    letter-spacing: 0.2rem;
    line-height: 2px;
}
.featured .row .one .text a{
    text-decoration: none;
    border-style: none;
    color: #fff;
    font-size: 0.9rem;
}
.featured .row .one .text a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #e97272;
    transition: width 0.3s;
}
.featured .row .one .text a:hover::after{
    width: 75px;
    height: 2px;
    transition: width 0.3s;
    border-bottom: 2px solid #6fe6e6;
}
.subscription{
    background: rgb(211, 186, 186);
    border-radius: 20px;
}
.subscription .row .sub input{
    outline: none;
    border: 1px solid rgb(216, 169, 169);
}

.subscription .row .sub input::placeholder{
    font-size: 0.9rem;
}
button{
    border: 2px solid pink;
    border-radius: 20px;
}
button:hover{
    background-color: pink;
}
.blog .row  .post a{
    font-size: 0.9rem;
    color: rgb(100, 147, 155);
    font-weight: bold;
    text-decoration: none;
    border-style: none;
}
.blog .row  .post a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #e97272;
    transition: width 0.3s;
}
.blog .row  .post a:hover::after{
    width: 75px;
    height: 2px;
    transition: width 0.3s;
    border-bottom: 2px solid #6fe6e6;
}
.blog .row .sidebar .side2 .row .sideimg img{
    width: 100px;
    height: 70px;
}
.blog .row .sidebar .side2 .row .sidetext h4{
    font-size: 1rem;
}
.blog .row .sidebar .side2 .row .sidetext a{
    text-decoration: none;
    border-style: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 0.9rem;
}
.blog .row .sidebar .side2 .row .sidetext a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #e97272;
    transition: width 0.3s;
}
.blog .row .sidebar .side2 .row .sidetext a:hover::after{
    width: 75px;
    height: 2px;
    transition: width 0.3s;
    border-bottom: 2px solid #6fe6e6;
}
.blog .side3 .one{
    height: 300px;
    position: relative;
}
.blog .side3 .one img{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
}
footer{
    background-color:#202020;
    color: white;
    font-size: 15px;
}